<div class="row">
	<div class="panel panel-default col-xs-offset-1 col-xs-10  col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
		<div class="panel-heading login">
			<h1 class="panel-title">Login</h1>
		</div>
		<div class="panel-body">
				<%= form_for(resource, as: :user, url: session_path(:user)) do |f| %>
					<div class="input-group">
						<span class="input-group-addon" id="email"><i class="glyphicon glyphicon-user"></i></span>
						<%= f.email_field :email, class: "form-control", placeholder: "Email" %>
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon" id="password"><i class="glyphicon glyphicon-lock"></i></span>
						<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
					</div>
					<br>

					<div class="form-group">
						<div class="col-xs-offset-4 col-sm-offset-5 col-md-offset-5">
							<%= f.submit "Sign in", class: "btn btndefault" %>
						</div>
					</div>
				<% end %>
		</div>	
	</div>
</div>