.navbar-cor{
	background-color: #1E90FF;
	
}

.navbar-cor .brand-cor{
	color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
}

.container {
    padding: 25px;
}

.panel{
	padding: 0;
	
}
.form-control {
    border-radius: 10px;
}

.botao {
    text-align: center;
}
